<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Agify</title>
</head>
<body>

<h1>Prédiction d'âge</h1>

<form action="/agify" method="get">
    <input type="text" name="name" placeholder="Entrez un prénom">
    <button type="submit">Rechercher</button>
</form>

{% if data %}
    <h2>Résultat</h2>

    <p><strong>Nom :</strong> {{ data.name }}</p>
    <p><strong>Âge estimé :</strong> {{ data.age }} ans</p>
    <p><strong>Basé sur :</strong> {{ data.count }} personnes</p>
{% endif %}

</body>
</html>
